In [1]:
import pandas as pd
import sqlalchemy as sql

In [2]:
recessions={
    'savings_and_loans_crisis': pd.date_range('1990-07', '1991-03'), 
    'dot_com_bust': pd.date_range('2001-03', '2001-11'), 
    'great_recession': pd.date_range('2007-12', '2009-06'), 
    'covid': pd.date_range('2020-04', '2020-06'), 
    # subject to change
    'current': pd.date_range('2022-01', '2022-08-09')
}

In [3]:
engine=sql.create_engine('sqlite:///recession_analysis.db')

In [30]:
sql_query=f'select * from price_history'
price_history=pd.read_sql(sql_query, con=engine, index_col='Date', parse_dates='Date')

price_history=price_history.pivot(columns='ticker', values='Close').pct_change()
price_history.head()

ticker      IYT  MSCI  SPY  VENAX  VGHCX     ^IXIC
Date
1971-02-05  NaN   NaN  NaN    NaN    NaN       NaN
1971-02-08  NaN   NaN  NaN    NaN    NaN  0.008400
1971-02-09  NaN   NaN  NaN    NaN    NaN -0.000793
1971-02-10  NaN   NaN  NaN    NaN    NaN -0.000695
1971-02-11  NaN   NaN  NaN    NaN    NaN  0.007548

In [31]:
post_recessions={}
for recession_name, recession_dates in recessions.items(): 
    post_recessions[recession_name]=pd.date_range(start=recession_dates[-1], periods=30)
post_recessions

{'savings_and_loans_crisis': DatetimeIndex(['1991-03-01', '1991-03-02', '1991-03-03', '1991-03-04',
                '1991-03-05', '1991-03-06', '1991-03-07', '1991-03-08',
                '1991-03-09', '1991-03-10', '1991-03-11', '1991-03-12',
                '1991-03-13', '1991-03-14', '1991-03-15', '1991-03-16',
                '1991-03-17', '1991-03-18', '1991-03-19', '1991-03-20',
                '1991-03-21', '1991-03-22', '1991-03-23', '1991-03-24',
                '1991-03-25', '1991-03-26', '1991-03-27', '1991-03-28',
                '1991-03-29', '1991-03-30'],
               dtype='datetime64[ns]', freq='D'),
 'dot_com_bust': DatetimeIndex(['2001-11-01', '2001-11-02', '2001-11-03', '2001-11-04',
                '2001-11-05', '2001-11-06', '2001-11-07', '2001-11-08',
                '2001-11-09', '2001-11-10', '2001-11-11', '2001-11-12',
                '2001-11-13', '2001-11-14', '2001-11-15', '2001-11-16',
                '2001-11-17', '2001-11-18', '2001-11-19', '2001-11-20',
                '2001-11-21', '2001-11-22', '2001-11-23', '2001-11-24',
                '2001-11-25', '2001-11-26', '2001-11-27', '2001-11-28',
                '2001-11-29', '2001-11-30'],
               dtype='datetime64[ns]', freq='D'),
 'great_recession': DatetimeIndex(['2009-06-01', '2009-06-02', '2009-06-03', '2009-06-04',
                '2009-06-05', '2009-06-06', '2009-06-07', '2009-06-08',
                '2009-06-09', '2009-06-10', '2009-06-11', '2009-06-12',
                '2009-06-13', '2009-06-14', '2009-06-15', '2009-06-16',
                '2009-06-17', '2009-06-18', '2009-06-19', '2009-06-20',
                '2009-06-21', '2009-06-22', '2009-06-23', '2009-06-24',
                '2009-06-25', '2009-06-26', '2009-06-27', '2009-06-28',
                '2009-06-29', '2009-06-30'],
               dtype='datetime64[ns]', freq='D'),
 'covid': DatetimeIndex(['2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04',
                '2020-06-05', '2020-06-06', '2020-06-07', '2020-06-08',
                '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12',
                '2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16',
                '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-20',
                '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24',
                '2020-06-25', '2020-06-26', '2020-06-27', '2020-06-28',
                '2020-06-29', '2020-06-30'],
               dtype='datetime64[ns]', freq='D'),
 'current': DatetimeIndex(['2022-08-09', '2022-08-10', '2022-08-11', '2022-08-12',
                '2022-08-13', '2022-08-14', '2022-08-15', '2022-08-16',
                '2022-08-17', '2022-08-18', '2022-08-19', '2022-08-20',
                '2022-08-21', '2022-08-22', '2022-08-23', '2022-08-24',
                '2022-08-25', '2022-08-26', '2022-08-27', '2022-08-28',
                '2022-08-29', '2022-08-30', '2022-08-31', '2022-09-01',
                '2022-09-02', '2022-09-03', '2022-09-04', '2022-09-05',
                '2022-09-06', '2022-09-07'],
               dtype='datetime64[ns]', freq='D')}

In [32]:
for recession_name, recession_dates in post_recessions.items(): 
    price_history.loc[price_history.index.isin(recession_dates), 'event']=recession_name
price_history['event'].value_counts()

great_recession             22
covid                       22
dot_com_bust                21
savings_and_loans_crisis    20
current                      1
Name: event, dtype: int64

In [34]:
price_history
#.pivot_table(columns='event', aggfunc='cumprod')

ticker,IYT,MSCI,SPY,VENAX,VGHCX,^IXIC,event
Date,,,,,,,
1971-02-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971-02-08,NaN,NaN,NaN,NaN,NaN,0.008400,NaN
1971-02-09,NaN,NaN,NaN,NaN,NaN,-0.000793,NaN
1971-02-10,NaN,NaN,NaN,NaN,NaN,-0.000695,NaN
1971-02-11,NaN,NaN,NaN,NaN,NaN,0.007548,NaN
...,...,...,...,...,...,...,...
2022-08-03,0.014626,0.039021,0.015659,-0.027208,0.015799,0.025865,NaN
2022-08-04,0.008564,0.000866,-0.000676,-0.036782,0.003312,0.004138,NaN
2022-08-05,0.006137,-0.001168,-0.001690,0.021082,0.001196,-0.004955,NaN
2022-08-08,0.000042,0.009351,-0.001161,0.004869,0.005830,-0.001034,NaN
2022-08-09,-0.009943,-0.013717,-0.005327,0.000000,0.000000,-0.012811,current